#fotos {
    margin-top: 40px;
    background-color: #fff;
    padding-bottom: 3%;
}
.carousel img {
  width: 100%; /* As imagens agora ocupam toda a largura disponível do carrossel */
  height:100%; /* Mantém a proporção da imagem */
}
.carousel .slick-slide {
  padding: 0 10px; /* Espaçamento entre as imagens */
}
